:root {
  --bg-color: rgb(205, 209, 211);
  --font-color: rgb(86, 88, 89);
}

@font-face {
  font-family: 'monto-color';
  src: url(./assets/MaShanZheng-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--font-color);
  text-shadow: 0px 0px 1px hsl(from var(--font-color) calc(h + 180) s l);
  will-change: background;
  transition: background 1s;
  font-family: 'monto-color';
}

p {
  margin: 0;
  padding: 0;
}

select,
input {
  position: relative;
  height: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* 添加白色投影效果 */
  backdrop-filter: blur(10px); /* 调整模糊程度 */
  opacity: 0.5; /* 调整透明度 */
  animation: blurAnimation 5s infinite alternate;
  width: 120px;
  outline: none;
  cursor: pointer;
}

button {
  height: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  padding: 4px 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* 鼠标悬停时变换颜色 */
select:hover {
  border-color: #888;
}

/* 选中项的样式 */
/* select option:checked {
  background-color: #007bff;
  color: #fff;
} */

/* 下拉箭头图标样式 */
select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Firefox下清除箭头图标 */
select::-ms-expand {
  display: none;
}

/* 对 option 元素进行样式设置 */
select option {
  /* 背景颜色 */
  background-color: rgba(255, 220, 21, 0.1);
}

/* 鼠标悬停时的样式 */
select option:hover {
  background-color: #f1f1f1;
}

.mr-4 {
  margin-right: 4px
}

@keyframes blurAnimation {
  0% {
    backdrop-filter: blur(20px);
    opacity: 0.5;
  }
  100% {
    backdrop-filter: blur(100px);
    opacity: 0.8;
  }
}

/* Firefox和IE下调整文本位置 */
@-moz-document url-prefix() {
  select {
    padding-right: 30px;
  }
}

/* 调整IE下的文本位置 */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  select {
    padding-right: 30px;
  }
}