:root {
  --bg-color: rgb(205, 209, 211);
}

@font-face {
  font-family: 'monto-color';
  src: url(./assets/MaShanZheng-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: var(--bg-color);
  color: rgb(86, 88, 89);
  will-change: background;
  transition: background 1s;
  font-family: 'monto-color';
}

p {
  margin: 0;
  padding: 0;
}